.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #5b0808;
}
.third-level-menu > li:hover { background: #ffffff; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #5b0808;
}
.second-level-menu > li:hover { background: #5b0808; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 50%;
    background: #5b0808;
}
.top-level-menu > li:hover { background: #a8a4a4; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }


/* Stijl voor het grote kopje */
.kopje {
    font-size: 24px; /* Pas de gewenste lettergrootte aan */
    font-weight: bold; /* Maak het kopje vetgedrukt */
    margin-bottom: 10px; /* Voeg wat ruimte toe onder het grote kopje */
    background-color: #333; /* Achtergrondkleur van de balk */
    color: #fff; /* Tekstkleur */
    padding: 5px 10px; /* Ruimte rond de tekst */
}

/* Stijl voor de kleinere kopjes */
.klein-kopje {
    font-size: 18px; /* Pas de gewenste lettergrootte aan */
    font-weight: bold; /* Maak de kleinere kopjes vetgedrukt */
    margin-top: 15px; /* Voeg wat ruimte toe boven de kleinere kopjes */
}

img {
  width: 350px;
  height: 200px;
  float: right; /* Plaats de afbeeldingen aan de rechterkant */
  margin-left: 20px; /* Voeg een kleine linkermarge toe om de tekst te scheiden */
}

#img2 {
    float: right; /* Plaats de afbeelding aan de rechterkant */
    margin-left: 20px; /* Voeg een kleine linkermarge toe om de tekst te scheiden */
    max-width: 100%; /* Beperk de maximale breedte van de afbeelding tot de oorspronkelijke breedte */
    height: auto; /* Behoud de oorspronkelijke hoogteverhouding van de afbeelding */
  }