/* Resetten van de standaardlijststijl en marges voor de navigatie */
.top-level-menu, .second-level-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Stijl voor het bovenste niveau van het menu */
.top-level-menu {
  background-color: rgb(18, 16, 16);
}

.top-level-menu li {
  float: left;
}

.top-level-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.top-level-menu li a:hover {
  background-color: hsl(0, 100%, 30%);
}

/* Stijl voor het tweede niveau van het menu */
.second-level-menu li a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

/* Stijl voor kopjes */
.kopje {
  font-family: 'Times New Roman', Times, serif;
  background-color: brown;
  color: black;
  padding: 10px;
}

/* Stijl voor afbeeldingen */
img {
  width: 350px;
  height: 200px;
  float: right;
}

/* Stijl voor de footer */
footer {
  background-color: black;
  padding: 4px;
  text-align: center;
  color: white;
}
